@import "@/assets/scss/variables.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border_custom {
    width: 300px;
    height: 10px;
    background-color: $buttonColor;
   }

   .bg_button{
    background-color: $buttonColor;
    color: white;
   }

   .bg_button:hover{
    background-color: white;
    color: black;
}
   .bg_custom{
       background-color: $secondaryBgColor;
   }
   .bg_custom2{
    background-color: $mainBgColor ;
   }
   .bg_custom3{
      background-color:  $headerBgColor;
   }

   .textSecodary{
    color: $textSecondaryColor;
}
