$headerBgColor : #ea4a56;
$mainBgColor : #272b34;
$secondaryBgColor:  #292d39;
$mainSecondaryBgColor : #6b6b6c;
$buttonColor : #eb4b54;
$textMainColor: #fefefe;
$textColor: #ea4a56;
$textSecondaryColor: #aeaeaf;